@tailwind base;
@tailwind components;
@tailwind utilities;


#Hero{
    background-image: url('./images/patterns/hero-pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F1F1F1;
}

#Steps{
    background-image: url('./images/patterns/steps-section-pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#FooterBanner{
    background-image: url('./images/gradients/footer-banner-gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#Cotizacion{
    background-image: url('./images/patterns/cotizacion-background-pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#Contactanos{
    background-image: url('./images/patterns/contactanos-background-pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
}